html {
	font-family: 'Helvecta', serif;
	background-color: #E0D5D6;
	font-size: 18px;
}

p {
	font-size: 18px;
	text-align: center;
}

input [type=text] {
	width: 40px;
	height: 20px;
} 

td, tr {
	width: 50px;
	height: 20px;
}

.header {
	padding: 25px;
	text-align: center;
	color: black;
	font-size: 35px;
	font-weight: bold;
}

.center {
	text-align: center;
	margin: auto;
	padding: 5px;
}
